{{ if ne .Params.rank "sub_page" }}
    <li>
        <a href="#{{ .Params.anchor }}">{{ .Title }}</a>
{{ if .Pages }}
        <ul>
            {{ range .Pages.ByWeight }}
                {{ if (and .IsSection (ne .Params.rank "sub_page")) }}
                    {{ partial "menu_page_list.html" . }}
                {{ else if .IsPage }}
                    <li><a href="#{{ .Params.anchor }}">{{ .Title }}</a></li>
                {{ end }}
            {{ end }}
        </ul>
{{ end }}
    </li>

{{ end }}